[user]
	email = steventing@realtek.com
	name = Steven Ting

[color]
	ui = true
	log = auto
	branch = auto
	status = auto
	diff = auto

[diff]
	tool = meld
	guitool = meld

[difftool]
	prompt = false

[difftool "meld"]
	path = /usr/bin/meld

[alias]
	co = checkout
	ci = commit
	di = diff
	st = status
	br = branch
	re = remote
	cp = cherry-pick
	lg = log  --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -30

[github-import]
	remote = origin

[merge]
	tool = vimdiff
[log]
	decorate = true
[push]
	default = simple
[core]
	pager = sed 's/\t/    /g' | less -R
[color "diff"]
	meta = blue black bold
[url "https://github.com/"]
        insteadOf = git@github.com:

[url "https://github.com/"]
        insteadOf = ssh://git@github.com/
